#work {
  color: white;
  width: 49%;
  overflow: auto;
  max-height: 70vh;
  padding: 20px;
  border: 1px solid #1d4ca2;
  background-color: #000715;
  border-radius: 4px;
  white-space: pre-wrap;
  margin: 1vh 1vw;
}

h1 {
  color: #4f9dff;
  border-bottom: 2px solid #4f9dff;
}
h3 {
  margin: 0;
  color: #4f9dff;
}
p {
  margin: 0;
  color: #4f9dff;
}
